<%- include('../partials/head') %>
<body class="bg-secondary">
    <%- include('../partials/header') %>
    <div class="d-flex align-items-center text-light justify-content-center h1 mt-4 mx-3">
        <h1>Hubo un error con tus datos...</h1>
        <a href="../"><button class="btn btn-primary btn-lg">Volver</button></a>
    </div>
    <%- include('../partials/scripts') %>
</body>