<%- include('../partials/head') %>
<body class="bg-secondary">
    <%- include('../partials/header') %>
    <div class="d-flex align-items-center text-light justify-content-around h1 mt-5 mx-5 px-5">
        <a href="./api/login"><button class="btn btn-primary btn-lg">Loguearse</button></a>
        <a href="./api/register" ><button class="btn btn-primary btn-lg">Registrarse</button></a>
        <a href="./api/github" ><button class="btn btn-primary btn-lg">Loguearse con GitHub</button></a>
    </div>
    <%- include('../partials/scripts') %>
</body>