<%- include('../partials/head') %>
<body class="bg-secondary">
    <%- include('../partials/header') %>
    <div class="d-flex align-items-center text-light justify-content-around h1 mt-5 mx-5 px-5">
       <div>¡Has hecho una compra con exito!</div>
        <a href="/"><button class="mt-4 btn btn-primary btn-lg">Volver</button></a>
    </div>
    <%- include('../partials/scripts') %>
</body>